body {
  font-family: sans-serif;
}

main {
  padding: 20px;
  background-color: #efa39f;
}
article {
  padding: 20px;
  background-color: #91c2a3;
}
.background {
  background-color: yellow;
}

button {
  margin: 20px;
  background-color: transparent;
  display: block;
  /* margin-top: 15px; */
  border: none;
  font-size: 20px;
}

.redHeart {
  color: red;
}
