.h1 {
  border: 1px solid black;
}
.task {
  padding: 15px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 0 5px grey;
}
.redTask {
  color: red;
}
.greenTask {
  color: green;
}
.doneTask {
  text-decoration: line-through;
}

div {
  padding: 20px;
  border: 1px solid red;
}
