.sliderWrapper {
  max-width: 400px;
  min-width: 200px;
  width: 100%;
  aspect-ratio: 2;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
}

.prevSliderImg,
.currentSliderImg,
.nextSliderImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear left;
}

/* .prevSliderImg {
  left: -100%;
}

.currentSliderImg {
  left: 0;
}

.nextSliderImg {
  left: 100%;
} */

.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff7;
  border: none;
  transition: 0.1s linear background-color;
}

.prevBtn:hover,
.nextBtn:hover {
  background-color: #fffa;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

.navSlider {
  position: absolute;
  padding: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.navCircle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: lightgrey;
  transition: 0.2s linear background-color;
}

.activeCircle {
  background-color: green;
}
